[Desktop Entry]
Encoding=UTF-8
Name=Pacmoid
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Vesso Somlev
X-KDE-PluginInfo-Email=spupys@gmail.com
X-KDE-PluginInfo-Name=pacmoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://somlev.com/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
